.span-24.last.top-padded
  .span-18.colborder
    .span-18.tango.last
      %h1= @tango.kanji
    .span-18.underline.last
      .span-3.right Meaning:
      .span-15.last.spoiler= @tango.meaning
    .span-18.underline.last
      .span-3.right Reading:
      .span-15.last.spoiler= @tango.kana
    - unless @bookmarks.empty?
      = haml :bookmarks, :layout => false
  .span-5.last.sidebar
    =haml :sidebar, :layout => false


-#
  #history
    - @visited.each do |hid|
      %span
        -if @tango.index == hid
          = @tango.kanji
        -else
          %a{:href=>Url.tango( hid )}= Tango[hid].kanji
